@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');


/* Hero.css */
.hero-typewriter {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.hero-typewriter h1 {
  font-size: 2.8rem;
  color: white;
  text-align: center;
  z-index: 1;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
